header nav .nav-sections > ul {
  flex-direction: row;
}

/* Dropdown styling within existing nav structure */
header nav .nav-sections > ul > li.nav-drop {
  position: relative;
}

/* Styling for the dropdown menu */
header nav .nav-sections > ul > li > ul {
  display: none;
  position: absolute; /* Position directly below the nav item */
  left: 0;
  background-color: var(--highlight-background-color);
  width: 250px;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 4px;
  z-index: 10;
  top: calc(var(--nav-height) + 5px); /* Adjust based on your nav height */
}

header nav .nav-sections > ul > li.nav-drop:hover > ul {
  display: block;
}

header nav .nav-sections > ul > li > ul > li {
  padding: 8px 16px;
  font-size: 18px;
}

header nav .nav-sections > ul > li > ul > li a {
  color: var(--text-color);
  text-decoration: none;
}

header nav .nav-sections > ul > li > ul > li a:hover {
  background-color: var(--text-color-light);
  color: var(--background-color);
  border-radius: 3px;
}

/* Dropdown arrow styling */
header nav .nav-drop::after {
  content: '';
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  top: 12px;
  right: 10px;
}

/* Adjust for desktop */
@media (width >= 1000px) {
  header nav .nav-sections {
    display: flex;
  }
}
